.album-view-picture {
	max-width: 128px;
}

.album-edit-radio {
	font-size: .75em;
}

.album-edit-color {
	width: 1em;
	height: 1em;
	border-radius: 20%;
	border: solid 1px rgba(0, 0, 0, .20);
}

.album-edit-color-selected {
	outline: solid 2px rgb(131, 154, 255)
}