.album-view-pic {
	max-width: 128px;
}

.album-view-pic .image {
	cursor: pointer; 
}

.album-view-fullpic {
	max-height: 90vh;
	cursor: pointer; 
	animation: view-fullpic-fade-in 1s;
}

@keyframes view-fullpic-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.album-edit-radio {
	font-size: .75em;
}

.album-edit-color {
	width: 1.8em;
	height: 1.8em;
	border-radius: 20%;
	border: solid 1px rgba(0, 0, 0, .20);
	box-shadow: none !important;
}

.album-edit-color-selected {
	outline: solid 2px rgb(131, 154, 255)
}

