.group {
	transform-origin: top;
	animation: group-fade-in 0.3s;
}

.delete-group {
	position: absolute;
	right: 0;
}

@keyframes group-fade-in {
	from {
		transform: scaleY(0); 
		opacity: 0;
	}
	to {
		transform: scaleY(1); 
		opacity: 1;
	}
}