.group {
	transform-origin: top;
	animation: group-fade-in 0.3s;
}

@keyframes group-fade-in {
	from {
		transform: scaleY(0); 
		opacity: 0;
	}
	to {
		transform: scaleY(1); 
		opacity: 1;
	}
}

.picture {
	border-radius: 1em;
	border: 0.1em solid #d9d9d9;
}