.htitle {
	font-family: Ultra;
	font-size: 1.5rem;
	position: relative;
}

.htitle div {
	background: linear-gradient(to top, #209CEE 0%, #00D1B2 60%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: absolute; 
    width: 100%;
}

.htitle:after {
	text-shadow: 0.04em 0.04em 0 #5f6979;
	color: transparent;
	content: "Album maker";
}