.notif {
	position: fixed;
	z-index: 100;
	width: 20rem;
	margin-left: 40%;
	margin-top: 0.5rem;
	padding: 0.4rem;
	visibility: hidden;
	text-align: center;
}

@media screen and (max-width: 640px) {
	.notif {
		width: 80%;
		margin-left: 10%;
	}	
}

.notif-show {
	visibility: visible;
	animation: notif-fade-in 0.5s, notif-fade-out 0.5s 2.5s;
}

@keyframes notif-fade-in {
	from {top: -5rem; opacity: 0;}
	to {top: 0; opacity: 1;}
}


@keyframes notif-fade-out {
	from {top: 0; opacity: 1;}
	to {top: -5rem; opacity: 0;}
}