.slideshow {
	background-size: cover;
	width: 100vw;
	height: 100vh;
	margin: 0;
	position: fixed;
}

.slideshow::before {
	content: '';
	width: inherit;
	height: inherit;
	position: inherit;
	background-image: inherit;
	background-size: cover;
	filter: blur(10px);
}

.slideshow-image-container {
	height: 100%;
}

.slideshow-image {
	position: fixed;
    max-height: 100%;
}

.slideshow-image-hide {
	opacity: 0;
}

.slideshow-caption-ctn {
	height: 80%;
}

.slideshow-caption {
	padding: 0.2em 0.8em;
	text-transform: uppercase;
	position: fixed;
	opacity: 0;
	word-break: normal;
}

.slideshow-caption-anim {
	animation: slideshow-fade-in 0.3s;
	animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
	opacity: 1;
}

@keyframes slideshow-fade-in {
	from {
		transform: scale(0); 
		opacity: 0;
	}
	to {
		transform: scale(1); 
		opacity: 1;
	}
}