.slideshow {
	background-size: cover;
	width: 100vw;
	height: 100vh;
	margin: 0;
}

.slideshow-image-container {
	height: 100%;
}

.slideshow-image {
    height: 100%;
}

.slideshow-caption {
	padding: 0.2em 0.8em;
	position: absolute;
	text-transform: uppercase;
	animation: slideshow-fade-in 0.3s;
	animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes slideshow-fade-in {
	from {
		transform: scale(0); 
		opacity: 0;
	}
	to {
		transform: scale(1); 
		opacity: 1;
	}
}