.trip {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
	background-color: black;
	border-radius: 0.5em;
	padding-top: 4rem;
	padding-bottom: 3rem;
	color: white;
	opacity: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	box-shadow: none !important;
}

.trip-show {
	animation: slideshow-fade-in 0.3s;
	animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
	opacity: 1;
}

.trip-line-ctn {
	height: 4rem;
}

.trip-line {
	margin-top: 1rem;
	width: 13rem; 
	border: dashed 4px white;
	border-color: white transparent transparent transparent;
}

.trip-line-plane {
	margin-top: none;
	width: 18rem;
	height: 14rem;  
	border-radius: 30rem/20rem 20rem 0 0;
}


.Yellow .trip-line {
	border-color: black transparent transparent transparent;
}
.White .trip-line {
	border-color: black transparent transparent transparent;
}
.Lime .trip-line {
	border-color: black transparent transparent transparent;
}
.Amber .trip-line {
	border-color: black transparent transparent transparent;
}

.trip-pins {
	margin-top: -2rem;
}

.trip-sep {
	margin-right: 14rem;
}

.trip .icon {
	font-size: 2rem;
}

.trip-veh-ctn {
	position: relative;
	height: 100%;
	width: 100%;
	opacity: 0;
	animation: opac 6s ease-in-out;
}

.trip-veh {
	position: absolute;
	width: 10rem;
	height: 4rem;
	margin-left: 4rem;
	margin-right: 4rem;
	animation: x-motion 6s ease-in-out;
	margin-top: -3rem;
}

.trip-veh-icon {
	position: absolute;
	top: 100%;
}

.trip-veh-icon-plane {
	animation: y-motion 6s ease-in-out;
}

.trip-veh-img {
	max-width: 3rem;
}

.Yellow .trip-veh-img {
	filter: grayscale(100%) brightness(0%);
}
.White .trip-veh-img {
	filter: grayscale(100%) brightness(0%);
}
.Lime .trip-veh-img {
	filter: grayscale(100%) brightness(0%);
}
.Amber .trip-veh-img {
	filter: grayscale(100%) brightness(0%);
}

@keyframes opac {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes x-motion {
	0% {
		left: 0;
	}
	100% {
		left: 50%;
	}
}
  
@keyframes y-motion {
	0%, 100% {
		top: 100%;
	}
	50% {
		top: 0%;
	}
}